.pageConteiner {
  display: block;
  justify-content: center;
  align-items: center;
  .status {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    .statusTitle {
      width: 100%;
      padding-left: 5rem;

      h1 {
        font-size: 3rem;
        margin-top: 2rem;
      }
    }

    .Container {
      display: flex;
      margin: 2rem 0 5rem;
      .card {
        display: flex;
        flex-direction: column;
        height: 25rem;
        background: transparent;
        border-radius: 0.5rem;
        padding: 0;

        border: 1px solid var(--gray-700);
        .statusHeader {
          display: flex;
          padding: 2rem;
          .perfil {
            width: 9.25rem;
            height: 9.25rem;
            top: 0;
            left: 0;
            right: 5rem;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              border: 0.2rem solid var(--gray-800);
              outline: 0.2rem solid var(--gray-700);
              transition: 1s;
              position: relative;
            }
            img:hover {
              outline: 0.2rem solid var(--green-600);
            }
          }

          .perfilCont {
            margin-left: 1.8rem;
            max-width: 50rem;
            h1 {
              font-size: 2rem;
            }
            p {
              padding: 1rem 0 1.5rem 0;
              font-size: 1.1rem;
            }
            button {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              padding: 1rem 2rem;
              width: 100%;
              border-radius: 0.5rem;
              border: none;
              cursor: pointer;
              font-family: 'Poppins', sans-serif;
              color: var(--white);
              font-weight: 900;
              background: linear-gradient(
                250deg,
                var(--cyan-600) 2%,
                var(--green-600) 100%
              );
              &:hover {
                background: var(--cyan-600);
              }
            }
          }
        }
        footer {
          width: 100%;
          padding: 2rem;
          h2 {
            font-weight: 400;
            font-size: 1.2rem;
            font-family: 'Montserrat' sans-serif;
            margin-bottom: 1rem;
          }
        }
        &:nth-child(1) {
          background: var(--gray-400);
          max-width: 33rem;
        }
        &:nth-child(2) {
          background: var(--gray-760);
          max-width: 25rem;
        }
        &:nth-child(3) {
          background: var(--gray-760);
          max-width: 25rem;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .Container {
    flex-direction: column;
  }
  .card {
    width: 100%;
    margin-bottom: 32px;
  }
}
