.pageConteiner {
  width: 100%;
  .Conteiner {
    max-height: 50rem;
    width: 90%;
    min-width: none;
    height: auto;
    padding: 0;
    margin: 0;

    @media screen and (min-width: 789px) {
      padding-top: 32px;
    }
    .conteinerTop {
      justify-content: space-between;
      .CallToActionSection {
        position: relative;
        background: transparent;
        height: 100vh;
        .TitleConteriner {
          position: relative;

          text-align: center;
          .textStyles {
            display: flexbox;
            width: 40rem;
            margin-bottom: 3rem;

            line-height: 3rem;
            font-size: 4rem;
            font-weight: 700;

            .dynamicText {
              padding: 0;
              margin-top: 1rem;
              line-height: 5.6rem;
              height: 5.8rem;
              overflow: hidden;
            }

            .dynamicText li {
              list-style: none;
              background: -webkit-linear-gradient(
                160deg,
                var(--green-400) 40%,
                var(--cyan-600) 100%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-family: 'Staatliches', cursive;
              font-style: normal;
              font-weight: bold;
              font-size: 5.6rem;
              top: 0;
              position: relative;
              animation: slide 18s steps(3) infinite;
            }

            @keyframes slide {
              100% {
                top: -17.5rem;
              }
            }
            .dynamicText li {
              position: relative;
            }
          }
          p {
            color: var(--gray-100);
            max-width: 30rem;
            font-size: 1.3rem;
          }
          .conetButton {
            max-width: 30rem;
            padding: 4rem;
            .button {
              position: relative;
              padding-left: 6rem;
              padding-top: 1.2rem;

              width: 100%;
              height: 3.5rem;
              border-radius: 8px;
              display: flex;
              background: linear-gradient(
                278deg,
                var(--green-400) 5%,
                var(--cyan-600) 100%
              );
              transition: 0.2s ease-in-out;
              .ArrowRight {
                position: absolute;
                top: 0.7rem;
                right: 1rem;
                width: 2.2rem;
                height: 2.2rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
                background: var(--green-600);
                transition: all 0.3s ease;
                &:hover {
                  transform: translateX(0.5rem);

                  filter: contrast(80%);
                }
              }
              &:hover {
                filter: contrast(140%);
                transform: translateX(0.4rem);
                box-shadow: 0.2rem 0.6rem 1rem var(--gray-900);
              }
            }
          }
        }
      }
      .contVideo {
        width: 100%;
        height: auto;
        border: 2px solid transparent;
        border-radius: 0.8rem;
        background: linear-gradient(to bottom, var(--gray-510), var(--gray-510)),
          linear-gradient(to top, var(--gray-900), var(--green-400));
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        max-width: 1110px;
        max-height: 627px;
        overflow: auto;
        z-index: 1;
        position: absolute;
        bottom: 0;
        -webkit-transform: translate(-webkit-calc(50vw - 50%), 50%);
        transform: translate(calc(50vw - 50%), 50%);
      }
    }

    .Content {
      position: relative;
      display: flex;
      width: 100vw;
      height: 50rem;
      padding: 1rem 0 0 1rem;
      background: var(--gray-510);
      border-bottom: 1px solid var(--gray-750);
      .Title {
        text-align: center;

        justify-content: center;
        align-items: center;
      }
    }
  }
}

/* RESPONSIVIDADE*/
/*
@media (max-width: 1200px) {
  .Conteiner {
    padding: 10rem;
  }
}

@media (max-width: 991px) {
  .Conteiner {
    padding: 10rem;
  }
}

@media (max-width: 320px) {
  .Conteiner {
    padding: 5rem;
  }
}*/
