.pageConteiner {
  height: 100vh;
  .TitleConteriner {
    left: 0;
    text-align: left;
    position: relative;
    max-width: 40rem;
    .textStyles {
      display: flexbox;
      width: 45rem;
      margin-bottom: 3rem;
      margin-top: 7rem;
      line-height: 3rem;
      font-size: 4.5rem;
      font-family: Roboto;
      font-style: normal;
      font-weight: 700;
      span {
        background: -webkit-linear-gradient(
          160deg,
          var(--cyan-600) 10%,
          var(--green-600) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 3.2rem;
      }
    }
    p {
      font-size: 1.3rem;
      color: var(--gray-200);
    }
  }
  .cards {
    display: flex;
    padding: 32px;
    .card {
      display: flex;
      flex-direction: column;

      background: var(--gray-760);
      border-radius: 0.5rem;
      padding: 0;
      max-height: 9000px;
      max-width: 25rem;
      border: 1px solid var(--gray-700);
      header {
        padding: 1rem 1.5rem;
        .Top {
          display: flex;
          width: 50%;
          margin-bottom: 1rem;
          .icon {
            width: 6rem;
            height: 6.4rem;
            background: var(--gray-400);
            clip-path: polygon(
              6% 23%,
              50% 0,
              95% 23%,
              95% 70%,
              50% 95%,
              6% 71%
            );
            svg {
              margin: 1.4rem;
            }
          }
          h3 {
            padding-top: 1.5rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 2rem;
          }
        }

        span {
          max-width: 140px;
          font-size: 1.1rem;
          color: var(--gray-200);
        }
        .preco {
          display: flex;
          width: 90%;
          margin: 1rem;
          a {
            margin-top: 1rem;
            border-radius: 0.4rem;
            padding: 0.7rem 0.8rem;
            font-size: 0.8rem;
            border: 1px solid;
            color: var(--green-600);
          }
          .valor {
            p {
              font-weight: 400;
              b {
                font-size: 1.2rem;
                font-weight: 900;
              }
              s {
                font-size: 1.1rem;
                font-weight: 500;
              }
            }
            h1 {
              margin-top: 0.2rem;
              font-size: 2rem;
              span {
                font-size: 1.5rem;
                font-weight: 400;
              }
            }
          }
        }
        button {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 1rem 2rem;
          width: 80%;
          border-radius: 0.5rem;
          background: none;
          border: none;
          cursor: pointer;
          font-family: 'Poppins', sans-serif;
          color: var(--white);
          font-weight: 900;
        }
        .btn {
          border: 0.6rem solid;
          border-image-slice: 1;
          border-width: 1px;
          border-image-source: linear-gradient(
            to left,
            var(--green-500),
            var(--cyan-500)
          );
          &:hover {
            border: 1px solid var(--green-600);
            background: var(--green-600);
          }
        }
        .btnpro {
          background: linear-gradient(
            250deg,
            var(--cyan-600) 2%,
            var(--green-600) 100%
          );
          &:hover {
            background: var(--cyan-600);
          }
        }
        .btnult {
          color: var(--gray-900);
          font-weight: 600;
          background: linear-gradient(
            278deg,
            var(--yellow-400) 10%,
            var(--red-500) 100%
          );
          &:hover {
            background: var(--red-500);
          }
        }
      }
      footer {
        border-top: 1px solid var(--gray-700);
        width: 100%;
        margin-top: 1rem;
        padding: 2rem 3rem;
      }
      &:nth-child(1) {
        box-shadow: 0.2rem 0.2rem 2rem -0.5rem var(--green-500);
        h3 {
          color: var(--green-500);
        }
      }
      &:nth-child(2) {
        box-shadow: 0.5rem 0.2rem 2rem -0.5rem var(--cyan-500);
        h3 {
          color: var(--cyan-600);
        }
      }
      &:nth-child(3) {
        box-shadow: 0.5rem 0.2rem 2rem -0.5rem var(--red-500);
        h3 {
          color: var(--red-500);
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .cards {
    flex-direction: column;
  }
  .card {
    margin-left: 0;
    margin-bottom: 32px;
  }
}
