// border-radius
$borderRadius: 12px;

// letter spacing
$letterSpacing: 0.4px;

// spacing
$spacing-sm: 12px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 64px;

// heights
$headerHeight: 90px;

// box shadow
$boxShadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
  0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
  0 16px 16px rgba(0, 0, 0, 0.05);

// breakpoints
@mixin breakpoint($point) {
  @if $point == xl {
    // 1120px
    @media (min-width: 70em) {
      @content;
    }
  } @else if $point == lg {
    // 1024px
    @media (min-width: 64em) {
      @content;
    }
  } @else if $point == md {
    // 768px
    @media (min-width: 48em) {
      @content;
    }
  } @else if $point == md-only {
    // 767px
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == sm {
    // 600px
    @media (min-width: 37.5em) {
      @content;
    }
  } @else if $point == sm-only {
    @media (max-width: 599px) {
      @content;
    }
  }
}
.sliderUP {
  animation: sliderUp 500ms linear;
  @keyframes sliderUp {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
}

.sliderDown {
  animation: sliderDown 500ms linear;
  @keyframes sliderDown {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
.sliderL {
  animation: sliderL 500ms linear;
  @keyframes sliderL {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
.sliderR {
  animation: sliderR 500ms linear;
  @keyframes sliderR {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
@mixin Up {
  @extend .sliderUP;
}
@mixin Down {
  @extend .sliderDown;
}
@mixin Left {
  @extend .sliderL;
}
@mixin Right {
  @extend .sliderR;
}
// spacing
$spacing-md: 16px;
$spacing-lg: 32px;
