.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 100vh;
}

.Container {
  z-index: 1000;
  position: fixed;
  height: 100%;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
  nav {
    background: var(--gray-800);
    width: 16.25rem;

    height: 100%;
    margin-top: 4.68rem;
    transition: 0.5s;
    /*========== SIDEBAR ===========*/

    .sidebar {
      background: var(--gray-800);
      height: 100%;
      width: 100%;
      text-align: left;
      a {
        display: flex;
        color: var(--gray-100);
        align-items: center;
        position: relative;
        height: 3rem;
        line-height: 5rem;
        text-decoration: none;
        user-select: none;
        transition: all 300ms ease;
        svg {
          margin-right: 1rem;
          margin-left: 1rem;
        }
      }
      a:last-child {
        position: absolute;
        bottom: 0.5rem;
        width: 100%;
        filter: opacity(0.5);
      }
      a:nth-child(9) {
        color: var(--white);
        background: var(--gray-400);
        padding-left: 3rem;
        border-radius: 2rem;
        text-align: center;
        width: 10rem;
        margin-right: 0;
        svg {
          margin-left: 1rem;
        }
      }
      a:nth-child(9):hover {
        color: var(--green-600);
        background: var(--gray-400);
        margin-left: 0;
      }
      a:hover {
        color: var(--white);
        background: var(--gray-850);
        filter: opacity(1);
        margin-left: 1rem;
      }

      a.active {
        background: var(--gray-840);
        color: var(--white);
        margin-left: 0;
      }

      a.active::before {
        content: '';
        width: 6px;
        height: 100%;
        border-radius: 0 0.4rem 0.4rem 0;
        background: linear-gradient(
          180deg,
          var(--green-500) 10%,
          var(--cyan-500) 100%
        );
        h3 {
          font-weight: 500;

          .materialIconsSharp {
            background: var(--green-600);
            color: var(--white);
            padding: 0.1rem 0.6rem;
            margin-left: 1rem;
            font-size: 0.7rem;
            border-radius: 0.4rem;
          }
        }
      }
    }
  }
  nav:hover {
    overflow-y: auto;
  }

  nav::-webkit-scrollbar {
    width: 0.4rem;
  }

  nav::-webkit-scrollbar-thumb {
    border-radius: 3rem;
    background: linear-gradient(
      180deg,
      var(--green-600) 10%,
      var(--cyan-600) 100%
    );
  }
}
.Container.activeLeft {
  visibility: visible;
  opacity: 1;
}
// TOPO da pagina
.top {
  display: flex;
  height: 6rem;
  width: 100%;
  padding: 0.6rem 1rem;
  position: absolute;
  background: var(--gray-810);
  box-shadow: 0.2rem 0.6rem 0.9rem var(--gray-800);
  .logo {
    display: flex;
    margin-left: 1.25rem;
    gap: 0.2rem;
    transition: filter 1s;
    .imgLogo {
      width: 4rem;
      height: 4rem;
      cursor: pointer;
    }
    &:hover {
      h2 {
        filter: opacity(1);
      }
    }
    h2 {
      margin-top: 1rem;
      font-size: 2rem;
      filter: opacity(0);
      color: var(--white);
    }
  }
  //Menu na horizontal
  .navigation {
    width: 100%;
    height: 5rem;
    padding-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .space {
      margin-left: 4rem;
      a {
        display: inline-block;
        position: relative;
        padding: 0.3rem 0.8rem;
        color: var(--gray-200);
        transition: 0.5s;
        text-decoration: none;
        user-select: none;

        &:hover {
          color: var(--white);
          background: var(--gray-900);
          border-radius: 0.5rem;
          transform: translateY(-0.2rem);
        }
        & + a {
          margin-left: auto;
          font-weight: 300;
        }

        &.active {
          color: var(--gray-300);
          font-weight: 700;
        }

        &.active::after {
          content: '';
          height: 5px;
          border-radius: 3px 3px 0 0;

          width: 100%;
          position: absolute;
          bottom: -1.5rem;
          left: 0;
          background: linear-gradient(
            to left,
            var(--green-500),
            var(--cyan-500)
          );
        }
      }
    }
    li {
      list-style-type: none;
      margin-left: 1rem;
      .action {
        position: fixed;
        top: 1.2rem;
        right: 5rem;
        .profile {
          position: relative;
          cursor: pointer;
          height: 4rem;
          width: 4rem;
          .imgPerfil {
            padding: 0;
            border: 0.2rem solid var(--gray-800);
            outline: 0.2rem solid var(--gray-700);
            transition: 1s;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            position: absolute;
            object-fit: cover;
          }
          img:hover {
            outline: 0.2rem solid var(--green-600);
          }
        }
        .menuPerfil {
          position: absolute;
          top: 5.5rem;
          right: -0.62rem;
          padding: 0 0 1rem 0;
          background: var(--gray-800);
          width: 15rem;
          box-sizing: 0 0.3rem 1.5rem rgba(0, 0, 0, 0.1);
          border-radius: 0.2rem;
          transition: 0.5s;
          visibility: hidden;
          opacity: 0;
          &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: -5px;
            right: 2rem;
            width: 0.8rem;
            height: 0.8rem;
            background: var(--gray-800);
            transform: rotate(45deg);
          }
          ul {
            li {
              padding: 0.8rem 0 0.8rem 0;
              direction: flex;
              align-items: center;
              font-size: 1rem;
              color: var(--gray-200);
              transition: 0.5s;
              svg {
                color: var(--green-400);

                margin-right: 0.5rem;
                opacity: 0.7;
                transition: 0.5s;
                &:hover {
                  opacity: 1;
                }
              }
              a {
                display: inline-block;
                font-weight: 500;
                transition: 0.5s;
                color: var(--gray-300);
                &:hover {
                  color: var(--white);
                }
              }
              &:hover {
                background: var(--gray-500);
              }
            }
          }
        }
        .menuPerfil.activemenu {
          visibility: visible;
          opacity: 1;
        }
      }
      b {
        display: inline-block;
        position: relative;
        padding: 0.3rem 0.8rem;
        color: var(--gray-200);
        transition: color 0.2s;
        text-decoration: none;
        user-select: none;
        &:hover {
          color: var(--white);
        }
        & + b {
          margin-left: auto;
          font-weight: 300;
        }

        &.active {
          color: var(--white);
          font-weight: 700;
        }
        &.active::after {
          content: '';
          height: 5px;
          border-radius: 3px 3px 0 0;

          width: 100%;
          position: absolute;
          bottom: -1.5rem;
          left: 0;
          background: linear-gradient(
            to left,
            var(--green-500),
            var(--cyan-500)
          );
        }
      }
    }
  }
}
