.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 5rem;
  background: var(--gray-800);
  border-bottom: 1px solid var(--gray-900);
}

.imgLogin {
  position: relative;
  display: inline-block;
}
.headerContent:first-child {
  margin-left: 8rem;
}

.headerContent {
  //max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  //padding: 0 0.2rem;

  display: flex;
  align-items: center;

  img {
    width: 6rem;
  }
  ul {
    margin-left: 10rem;
    display: flex;
    list-style: none;
    li {
      a {
        display: inline-block;
        position: relative;
        padding: 1rem 0.5rem;
        height: 5rem;
        line-height: 5rem;
        color: var(--gray-300);
        transition: color 0.2s;
        text-decoration: none;
        user-select: none;

        &:hover {
          color: var(--white);
        }
        & + a {
          margin-left: auto;
        }

        &.active {
          color: var(--white);
          font-weight: 700;
        }

        &.active::after {
          content: '';
          height: 3px;
          border-radius: 3px 3px 0 0;

          width: 100%;
          position: absolute;
          bottom: 1px;
          left: 0;
          background: linear-gradient(
            to left,
            var(--green-500),
            var(--cyan-500)
          );
        }
      }
    }
  }

  .navbar_link {
    width: 100%;
    height: 2.8rem;
    padding: 0 3rem;
    margin-right: 2rem;

    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: var(--white);
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      width: 20px;
      display: block;
      margin: 10px;
      border: none;
      padding: 0px;
    }
  }

  .lengButton {
    border-radius: 50%;
    margin-left: 5px;
    transition: 0.2s;

    img {
      width: 40px;
      height: 40px;
      filter: grayscale(1);
      &:hover {
        filter: grayscale(0);
      }
    }
  }
  .signinButton {
    height: 2.8rem;
    width: 100%;
    max-width: 12rem;
    padding: 0 2rem;
    cursor: pointer;
    margin-right: 2rem;
    margin-top: 1rem;
    border: 0;
    border: 0.6rem solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(
      to left,
      var(--green-500),
      var(--cyan-500)
    );
    background: var(--gray-800);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.8rem;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    a {
      margin-bottom: 2rem;
    }

    img {
      width: 20px;
    }

    svg:first-child {
      margin-right: 0.5rem;
    }

    svg.closeIcon {
      margin-left: 0.5rem;
    }

    transition: filter 0.2s;

    &:hover {
      background: linear-gradient(to left, var(--green-500), var(--cyan-500));
      color: var(--gray-800);
    }
  }
}

@media (max-width: 991px) {
  .navigation {
    display: none;
    li {
      list-style: none;
    }
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .toggle {
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--gray-600) url(/icon/menu.svg);
    background-size: 1.8rem;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 1000;
    border-radius: 2px;
    &.activar {
      background: var(--gray-600) url(/icon/close.svg);
      background-size: 1.8rem;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
