.FooterConteiner {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0;
  background: var(--gray-900);
  border-top: 1px solid var(--gray-760);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Container {
  display: flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.Content {
  margin-right: 1.8rem;
  justify-content: space-between;
  padding: 3.12rem 6.25rem;
  display: flex;
}

.Left {
  display: flex;
  .Logo {
    width: 12rem;
    height: auto;
    display: flex;
    margin-bottom: 1.5rem;
    h1 {
      margin-left: 0.5rem;
      font-size: 1.3rem;
      line-height: 1.5rem;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
      color: var(--gray-100);
      span {
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        background: -webkit-linear-gradient(
          160deg,
          var(--cyan-600) 5%,
          var(--green-500) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .copy {
    color: var(--gray-100);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 0.5rem;
  }
}

.Right {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  ul {
    list-style: none;
    span {
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2rem;
    }

    li {
      display: flex;
      margin-top: 0.5rem;
      a {
        color: var(--gray-100);
      }

      a:hover {
        color: var(--white);
        transform: translateX(0.2rem);
        border-bottom: 2px solid var(--green-500);
      }
    }
  }
}
.Bottom {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--gray-760);
  padding: 1rem 4rem;
  height: 9.37rem;
  button {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin-right: 4rem;
    background: var(--gray-700);
    border: none;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    color: var(--white);
    animation: up 2s infinite;
    transition: all 0.3s ease;
    &:hover {
      filter: contrast(0.6);
      transform: translateY(-0.2rem);
    }
    @keyframes up {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translateY(-1rem);
      }
    }
  }
}

.Social {
  margin-top: 1.2rem;
  display: flex;
  li {
    list-style: none;
    margin-left: 1rem;
  }
  .Icons {
    padding: 1rem;
  }
  .SocialIcon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: var(--gray-700);
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    color: var(--green-500);
    transition: all 0.3s ease;
    &:hover {
      color: var(--white);
      background: var(--green-500);
      filter: drop-shadow(1rem 16px 3rem var(--green-500));
      transform: translateY(-0.2rem);
    }
  }
}
