.signup {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;

  .modal-container {
    display: flex;

    .content-left {
      justify-content: center;
      background: var(--gray-760);
      padding: 4rem;
      width: 30rem;
      border-radius: 0.8rem 0 0 0.8rem;
      text-align: center;
      .google {
        position: relative;
        display: flex;
        margin: 0.5rem 0 1rem 0;

        padding-left: 3rem;
        padding-top: 1rem;

        height: 3.2rem;
        background: var(--gray-900);
        width: 100%;
        border-radius: 5px;
        border: none;
        .logoGoogle {
          position: absolute;
          top: 0.1rem;
          left: 2rem;
          padding-top: 0.5rem;
        }
        b {
          font-weight: 500;
          font-size: 0.9rem;
          color: var(--white);
        }
      }

      .line {
        display: flex;
        flex-direction: row;
        hr {
          margin: 12px 0px 20px;
          flex: 1 1 0%;
          border-top: 1px solid var(--gray-750);
        }
        span {
          flex: 0.3 1 0%;
          align-self: center;
          text-align: center;
          line-height: 1px;
          font-weight: 700;
          font-size: 12px;
          background: transparent;
          text-transform: uppercase;
        }
      }

      h1 {
        text-align: left;
        margin: 1.5rem 0;
        font-family: Roboto;
        font-weight: 900;
        font-size: 2.25rem;
        color: var(--white);
      }

      .inputform {
        position: relative;
        flex: 1 1 0%;
        .iconinput {
          position: absolute;
          top: 50%;
          left: 16px;
          transform: translateY(-50%);
          fill: rgb(40, 39, 44);
          font-size: 14px;
          transition: fill 0.2s ease 0s;
        }
        input {
          border-radius: 5px;
          height: 50px;
          width: 100%;

          background: var(--gray-840);
          color: var(--gray-100);
          margin: 0.3rem 0;

          border: 1 solid var(--gray-840);

          text-indent: 1.5rem;
          text-align: start;
          font-size: 1rem;
          font-weight: 400;

          -webkit-flow-from: horizontal-tb !important;
          letter-spacing: normal;
          word-spacing: normal;
          text-rendering: auto;
          text-transform: none;
          text-indent: 45px;
          text-shadow: none;
          display: inline-block;
          text-align: start;
          appearance: auto;
          -webkit-rtl-ordering: logical;
          cursor: text;

          &:hover {
            border-radius: 10px;
            border: 0.6rem solid;
            border-image-slice: 1;
            border-width: 2px;
            border-image-source: linear-gradient(
              to left,
              var(--green-500),
              var(--cyan-500)
            );
          }

          &:focus-visible {
            background: var(--gray-700);
            color: var(--gray-900);
            outline: 1px solid var(--green-600);
          }
          & + button {
            margin-top: 1rem;
            margin-bottom: 1rem;

            height: 3.2rem;
            background: var(--green-600);
            width: 100%;
            border-radius: 5px;

            font-weight: 900;

            border: none;
            transition: 0.2s;
          }
        }
        a {
          display: block;
          position: absolute;
          right: 16px;
          top: 30%;
          transform: translateY(-50%);

          cursor: pointer;
        }
      }

      small {
        color: red;
        margin-bottom: 1rem;
      }
      a {
        margin-top: 1rem;
        text-align: center;
        text-decoration: underline;
        color: var(--green-500);
      }
      .termConte {
        font-size: 14px;
        margin-top: 14px;
        color: var(--white);
        text-align: center;
        line-height: 26px;
        a {
          text-decoration: none;
        }
      }
      .loginError {
        margin-top: 1rem;
        margin-bottom: 1rem;

        height: 3.2rem;
        background: linear-gradient(
          278deg,
          var(--green-500) 10%,
          var(--cyan-600) 100%
        );
        width: 100%;
        border-radius: 5px;

        font-weight: 500;
        font-size: 1.1rem;
        color: var(--white);

        border: none;
        transition: 1s;
        &:hover {
          border: 0.1rem solid;
          border-image-slice: 1;
          border-width: 2px;
          border-image-source: linear-gradient(
            to left,
            var(--green-600),
            var(--cyan-600)
          );
          background: transparent;
          color: var(--gray-100);
          //border: 0.1rem solid var(--green-600);
          filter: drop-shadow(0.2rem 0.2rem 0.4rem var(--cyan-500));
          transform: translateY(-0.2rem);
        }
      }
    }
    .content-right {
      justify-content: center;
      background: var(--gray-840);
      padding: 2.5rem;
      width: 25rem;
      text-align: center;
      border-radius: 0 0.8rem 0.8rem 0;
      .imgLogin {
        position: relative;
        display: inline-block;
        margin: 0.2rem 0;
        width: 192px;
        height: 59px;
      }
      h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 1.9rem;
      }

      p {
        color: var(--gray-200);
        margin-top: 4rem;
      }
      .register-button {
        position: relative;
        padding-left: 4rem;
        padding-top: 1rem;
        margin-top: 2rem;
        width: 23rem;
        height: 3.5rem;
        border-radius: 8px;
        display: flex;
        height: 3.2rem;
        width: 100%;

        background: transparent;
        border-radius: 5px;

        color: var(--green-600);
        font-size: 1.1rem;
        font-weight: 400;

        border: none;
        transition: 0.2s;
        &:hover {
          transform: translateX(-0.2rem);
          color: var(--green-400);
        }
        .ArrowLeft {
          position: absolute;
          top: 0.5rem;
          left: 2rem;
          width: 2.2rem;
          height: 2.2rem;
          padding: 0.5rem;
          transition: all 0.3s ease;
          &:hover {
            transform: translateX(-0.2rem);
          }
        }
      }
      .modal-close {
        position: absolute;
        right: -9rem;
        top: 1.5rem;
        border: 0;
        background: transparent;
        color: white;

        transition: 0.3s;
      }

      button:hover {
        filter: brightness(0.9);
      }

      div {
        display: flex;
      }
    }
  }
}
